      .projects-top-wrap {
        position: relative;
        overflow: hidden;
      }
.projects-text::-webkit-scrollbar {
  width: 10px; 
}

.projects-text::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

.projects-text::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.projects-text::-webkit-scrollbar-track {
  background: rgba(245, 244, 250);
  border-radius: 10px; 
}
      .projects-text {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        color: #504e4e;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        background: rgba(245, 244, 250, 0.9);
        padding: 63px 24px;
        transform: translateY(100%);
        transition: transform 250ms linear;
        overflow: auto;
      }


  .projects-div {
    padding: 0px 24px 20px 24px;
    margin-top: 20px;
    

    .project-header {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: var(--title-color);
    }

    .project-category {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.03em;
      color: var(--pre-title-color);
    }
  }
