/* Mobile First */

.service-section {
  margin-bottom: 30px;
}

.cont {
  padding: 0 15px;
}

.beckgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2f303a;
  padding: 100px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("public/photo/beckground2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  z-index: 0;
}

.service-option {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

h1,
ul,
button {
  position: relative;
}

.option {
  padding-top: 2%;
  text-align: center;
}

.option-title {
  font-size: 20px;
  margin: 0 0 10px;
}

.option-list {
  list-style-type: none;
  padding: 0;
}

.option-item-nav {
  text-decoration: none;
  color: black;
}

.option-item {
  position: relative;
  padding-left: 20px;
  margin: 0 0 10px;
}

.option-item-nav:hover,
.option-item-nav:focus {
  color: #6f8658;
}

.option-item::before {
  content: "\2014";
  position: absolute;
  left: 0;
}

.option-item:hover {
  color: #6f8658;
}

.optionServis-bnt {
  text-align: center;
  color: #333;
  padding: 10px 40px;
  background-color: #cecccc;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 0;
}

.optionServis-bnt:hover,
.optionServis-bnt:focus {
  background-color: #969395;
  color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}
//

.includes {
  color: #333;
  padding-left: 10px;
  position: relative;
}

.includes::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #acacac;
}

.includes-title {
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
}

.includes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.includes-item {
  margin-bottom: 12px;
  position: relative;
  padding-left: 30px;
  line-height: 1.5;
  font-size: 16px;
}

.includes-item::before {
  content: "\2014";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(0);
  color: #000;
  width: 25px;
  height: 1px;
  line-height: 1.5;
}

//

.description-and-price {
  display: block;
  text-align: center;
  margin: 20px auto;
}
.description-title {
  font-size: 20px;
}

.description-text {
  text-align: left;
  font-size: 16px;
  color: #39393b;
}

.price {
  display: flex;
  margin: 10px;
  color: #555454;
  font-size: 15px;
}

.description-list {
  list-style-type: none;
}
.description-item {
  font-size: 17px;
  text-align: left;
  margin: 5px 0;
}

//

.imege-title {
  display: flex;
  margin: 0 0 25px;
}

.image-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.image-container::-webkit-scrollbar {
  height: 1px;
}

.image-container::-webkit-scrollbar-track {
  background: #fff;
}

.image-container::-webkit-scrollbar-thumb {
  background: #fff;
}

.img-services {
  width: 100%;
  // max-height: 600px;
  // max-width: 100%;
  margin: 0 0 40px;
}

@media screen and (min-width: 1010px) {
  .beckgroundImg {
    padding: 180px;
  }

  .service-option {
    padding-right: 20%;
    align-items: flex-end;
  }

  .option {
    margin: 5% 0 0 0;
  }
  .option-title {
    font-size: 25px;
  }

  .option-item {
    font-size: 18px;
    padding-left: 30px;
    margin: 0 0 20px;
  }

  .optionServis-bnt {
    padding: 15px 65px;
    font-size: 15px;
  }

  .optionServis-bnt:hover,
  .optionServis-bnt:focus {
    background-color: #969395;
    color: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  }

  ///

  .description-and-price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }

  .description-list {
    max-width: 800px;
    padding: 0 30px 0 0;
  }

  .description-item {
    font-size: 20px;
  }

  .price {
    margin: 15px;
    font-size: 19px;
  }

  .description-title {
    margin: 20px 0;
    text-align: center;
    font-size: 25px;
  }

  .description-text {
    text-align: center;
    font-size: 18px;
  }

  //

  .includes {
    font-size: 18px;
    padding-left: 20px;
    border-left: 2px solid #ddd;
  }

  .includes-title {
    margin: 0 0 15px;
    font-weight: bold;
  }

  .includes-item {
    margin: 0 0 12px;
    font-size: 18px;
  }

  .includes-item::before {
    content: "\2014";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
  }

  ///

  .img-services {
    max-width: 100%;
    margin-bottom: 40px;
    // height: 500px;
  }

  .imege-title {
      margin: 50px;
  }

  .image-container {
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .img-services {
    max-height: 600px;
  }

  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    background-color: #cecccc;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;
  }

  .slider-button:hover:focus {
    background-color: #969395;
    color: #ffffff;
  }

  .prev {
    left: 50px;
  }

  .next {
    right: 50px;
  }
}
