 
.service-section{
  margin-bottom: 50px;}

.beckgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2f303a;
  padding: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("public/photo/beckground2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
} 

.option{
  margin-bottom: 110px;
  padding-right: 25%;
  position: relative;
  display: flex;        
  flex-direction: column;
  align-items: flex-end; 
}

.option-title{
  padding-bottom: 15px;
  font-size: 24px;
  margin-bottom: 20px;

}

h1, ul,button {
  position: relative;
}
.oooo{
  padding-top: 5%;
    text-align: center;
}
.option-list {
  list-style-type: none; 
  padding: 0;
}
.option-item-nav {
  text-decoration: none;
  color: black;
}

.option-item {
  position: relative;
  padding-left: 30px; 
  padding-bottom: 20px;
}

.option-item-nav:hover,
.option-item-nav:focus{
  color: #6F8658;
}

.option-item::before {
  content: "\2014"; 
  position: absolute;
  left: 0;
} 
.option-item:hover,
.option-item:focus{
  color: #6F8658;
}

.option-bnt {
  text-align: center;
  color: #333; 
  padding: 10px 20px;
  background-color: #6F8658;
  border-radius: 10px;
    margin-top: 10px;
}

.option-bnt:hover,
.option-bnt:focus {
  background-color: #6F8658;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}


.description-and-price {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;  
  padding-bottom: 60px;

}


.description-title{
  display: flex;
  justify-content: center; 
  padding-bottom:40px;
  margin: 0;
}

.description-text{
  margin-bottom: 50px;
}

.includes{
  margin-left: 50px;
}

.includes-list {
  list-style-type: none;
  // padding-left: 0; 
}
.includes-title{
  margin-bottom: 5px;
}
.includes-item {
  margin-bottom: 10px;
  position: relative; /* Сделаем позицию относительной */
  padding-left: 25px; /* Добавляем отступ слева для текста */
}

.includes-item::before {
  content: "\2014";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Центрируем линию по вертикали */
}
.image-container{
  display: flex;
  flex-direction: column;
}
.img-services {
  max-width: 100%;
  height: 500px;
}

