 
.service-section{
  margin-bottom: 50px;
}

.beckgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2f303a;
  padding: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("public/photo/beckground2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
} 

.service-option{
  margin-bottom: 110px;
  padding-right: 25%;
  position: relative;
  display: flex;        
  flex-direction: column;
  align-items: flex-end; 
}



h1, ul,button {
  position: relative;
}
.option{
    padding-top: 5%;
    text-align: center;
}

.option-title{
  font-size: 24px;
  margin-bottom: 20px;
}

.option-list {
  list-style-type: none; 
  padding: 0;
}

.option-item-nav {
  text-decoration: none;
  color: black;
}

.option-item {
  position: relative;
  padding-left: 30px; 
  padding-bottom: 20px;
}

.option-item-nav:hover,
.option-item-nav:focus{
  color: #6F8658;
}

.option-item::before {
  content: "\2014"; 
  position: absolute;
  left: 0;
} 

.option-item:hover{
  color: #6F8658;
}

.option-bnt {
  text-align: center;
  color: #333; 
  padding: 15px 65px;
  background-color: #cecccc;
  border-radius: 10px;
  border: none;
    top: calc(25% + 2rem + 25px + 1.5rem + 70px);
  cursor: pointer;
}

.option-bnt:hover,
.option-bnt:focus {
  background-color: #969395;
  color: #ffffff;
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

////////////////

.description-and-price {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  margin: 0 auto;
  padding: 40px 0px; 
}

.description {
  max-width: 70%; 
  line-height: 2;
  font-size: 17px; 
  margin-right: 40px;
}

.description-list{
  list-style-type: none; 
}
.description-title {
  text-align: center;
}


.price{margin: 15px;}

.description-text {
  margin: 20px; 
  font-size: 18px;
  color: #333; 
}
//////
/// 
.includes {
  font-size: 18px; 
  color: #333; 
  padding-left: 20px; 
  border-left: 2px solid #ddd; 
}

.includes-title {
  margin-bottom: 15px; 
  font-weight: bold; 
}

.includes-list {
  list-style-type: none; 
  padding: 0; 
margin: 0;
}

.includes-item {
  margin-bottom: 12px; 
  position: relative; 
  padding-left: 30px; 
  line-height: 1.5; 
}

.includes-item::before {
  content: "\2014"; 
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); 
  color: #666; 
}

/////////////////
.img-services {
  max-width: 100%;
  margin-bottom: 40px;
  // height: 500px;
}

.imege-title{
  display: flex;
  justify-content: center;
margin: 0 0 25px;
}  

.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-services {
  max-width: 95%;
  max-height: 600px;
  // height: auto;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
    color: #333; 
  background-color: #cecccc;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.slider-button:hover:focus{
   background-color: #969395;
  color: #ffffff;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
