.about-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 0 50px;
}

.about-content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 20px;
}

.about-image {
  flex: 0.7;

  img {
    border-radius: 10px;
    max-width: 350px;
  }
}

.about-text {
  flex: 1;
  color: #fff;
  
  h1 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
  }
}

.about-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #1b2733;
  height: 80%;
  width: 100%;
  z-index: 1;
}
