
$padding-bottom: 100px;
$padding-bottom-title: 30px;

$margin-right-photo: 50px;
$max-width-description: 450px;

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $padding-bottom; 
}

.interior-title {
  text-align: center;
  padding-bottom: $padding-bottom-title; // Использование переменной
}

.interior-spaces {
  display: flex;
  align-items: flex-start;

}

.photo-container {
  margin-right: $margin-right-photo; // Использование переменной
}

.photo-image {
  width: 300px;
  height: 360px;
  display: block;
  margin: 0 auto;
}

.about-description {
  max-width: $max-width-description; // Использование переменной
}

.interior-spaces-description {
  margin-top: 0;
  padding-bottom: 40px;
}
