
.header {
  .header-container {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  .logo {
    max-width: 200px;
    white-space: pre-wrap;
    margin: 0;
  }

  .burger-menu {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    margin-left: auto;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;

    &.open {
      display: block;
    }

    .mobile-navigation {
      position: fixed;
      top: 0;
      right: -100%;
      width: 60%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      transition: right 0.3s ease;
      z-index: 1000;

      &.open {
        right: 0;
      }

      .close-menu {
        align-self: flex-end;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
      }

      .menu-link {
        margin: 30px 0 0px 0;
        font-size: 22px;
        text-decoration: none;
        color: #333333;

        &:hover {
          color: #6f8658;
        }
        &:focus {
          color: #6f8658;
        }
      }
    }
  }

  //l

  .language-selector {
    position: relative;
    display: inline-block;
    margin: 50px 0px 0;
  }

  .language-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .language-dropdown button {
    background-color: #f9f9f9;
    border: none;
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
  }

  .language-dropdown button:hover {
    background-color: #ddd;
  }

  .language-selector:hover .language-dropdown {
    display: block;
  }

  .language-button {
    background-color: rgba(166, 166, 166, 0.9);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    // margin-top: 70px;
  }
}

@media screen and (min-width: 800px) {
  .menu-overlay {
    display: none;
  }

  .burger-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .header {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    top: 0;
    width: 100%;

    .header-container {
      width: 100%;
      margin: 0 auto;
    }

    .navigation-container {
      display: flex;
      justify-content: center;
      flex: 1;
    }

    .navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .menu-link {
      font-weight: bold;
      font-size: 18px;

      &:hover,
      &:focus {
        color: #6f8658;
      }

      &.active {
        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 4px;
          border-radius: 2px;
          left: 0;
          background-color: #6f8658;
          bottom: -10px;
        }
      }
    }

    .language-selector {
      position: relative;
      display: inline-block;
      margin: 0;
    }

    .language-dropdown {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    .language-dropdown button {
      background-color: #f9f9f9;
      border: none;
      color: black;
      padding: 12px 16px;
      text-align: left;
      text-decoration: none;
      display: block;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;
    }

    .language-dropdown button:hover {
      background-color: #ddd;
    }

    .language-selector:hover .language-dropdown {
      display: block;
    }

    .language-button {
      background-color: #fff;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 1300px) and (min-width: 800px) {
  .language-selector {
    right: 10%; 
    margin: 0;
  }
}
