.hero-container {
  padding-bottom: 50px;
  position: relative;

  .studio-background-image {
    background-color: #2f303a;
    padding-top: 150px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("public/photo/beckground1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
  }

  .interior-design-title {
    color: #ffffff;
    font-size: 2rem;
    box-sizing: border-box;
    max-width: 497px;
    padding: 0;
    margin: 0;
    text-align: left;
    white-space: pre-wrap;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    line-height: 1.2;
  }
    .interior-text {
    color: #ffffff;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 35%;
      font-size: 1.5rem;
      max-width: 600px;
    }
}
.option-bnt{
}
